
  h1#site-title {
    color: pink;
    letter-spacing: -3px;
    font-family: verdana; 
    background: grey;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
  }

  h1#article-title {
    
    font-size: 48px;
    color: pink;
    font-family: verdana; 
    background: grey;
  }
  
  p{
    color: pink;
    background: grey;
  }
  
  figure{
    margin: 0;
    border: 1px solid black;
    padding: 12px;
    padding-bottom: 24px;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
  }

  figure.main-image{


    background: palevioletred;
    border-color: pink;
    color: aqua;

  }
  

  figure.section-image.odd{
    float: right;
    margin-left: 20px;
    margin-bottom: 32px;
    max-width: 320px;
    border-color: pink;

  }

  figure.section-image.even{
    float: left;
    margin-right: 20px;
    margin-bottom: 32px;
    max-width: 320px;
    border-color: pink;

  }

  a{
    font-weight: bold;
    color:pink;
  }

  ul li a {
    text-decoration: none;
  }

  ul li a:hover{
    text-decoration:wavy ;
  }